/**
 * @section Dropdowns
 * Styling for the dropdown navigation.
 */

/**
 * Set dropdown link to relative positioning
 */
// .dropdown-basic,
.nav-navbar {
	.menu-item-has-children {
		position: relative;

		& > a:after {
			content: "+";
			display: inline-block;
			margin-left: calc-em(4px);
			width: calc-em(8px);
		}

		&:hover > a:after {
			content: "\2013";
		}

		.js-drop & > a {
			&:after {
				content: normal;
			}

			@media (max-width: $bp-large) {
				cursor: not-allowed;
				pointer-events: none;
			}

			@media (min-width: $bp-large) {

				&:after {
					content: "+";
				}

				&.active:after {
					content: "\2013";
				}

			}
		}
	}
}


/**
 * Dropdown content
 */
// .dropdown-menu-basic,
.menu-item-has-children {
	.sub-menu {
		background-color: $color-white;
		border: calc-em(1px) solid lighten( $color-gray-dark, 22% );
		border-radius: calc-em(1px);
		box-shadow: 0 calc-em(4px) calc-em(8px) rgba(0, 0, 0, 0.2);
		box-sizing: border-box;
		display: none;
		float: left;
		list-style: none;
		margin-left: 0;
		min-width: 10em;
		padding-top: calc-em(8px);
		padding-bottom: calc-em(8px);
		position: absolute;
		right: 0;
		text-align: left;
		top: 100%;
		visibility: hidden;
		z-index: 1000;

		.js-drop & {
			margin-top: calc-em(8px);
		}

		@media (max-width: $bp-large) {
			margin-left: calc-em(24px);

			.js-drop & {
				background-color: transparent;
				margin-top: calc-em(8px);
			}
		}

		a {
			color: $color-primary;
			display: block;
			padding-left: calc-em(8px);
			padding-right: calc-em(8px);

			&:hover {
				background-color: $color-primary;
				color: $color-white;
				text-decoration: none;

				@media (max-width: $bp-large) {
					.js-drop & {
						background-color: transparent;
						color: darken( $color-primary, 15% );
						text-decoration: underline;
					}
				}
			}
		}

		/**
		 * Switch up styling on small viewports
		 */
		@media (max-width: $bp-large) {
			.js-drop & {
				border: none;
				box-shadow: none;
				display: block;
				float: none;
				min-width: 100%;
				padding: 0;
				position: static;
				visibility: visible;
			}
		}
	}

	.js-drop &:hover .sub-menu {
		display: none;
		visibility: hidden;
	}

	&:hover .sub-menu,
	.sub-menu.active,
	.js-drop &:hover .sub-menu.active {
		display: block;
		visibility: visible;
	}
}