/**
 * @section Pets
 * Styles for Pets content (Petfinder API, etc.).
 */


/**
 * Filters for "All Pets" page
 */
.petfinder-filters {
	display: none;
	visibility: hidden;

	@media (min-width: $bp-large) {
		.js-petfinder-sort & {
			display: block;
			visibility: visible;
		}
	}

	.js-petfinder-sort &.active {
		display: block;
		visibility: visible;
	}
}


/**
 * Filters toggle
 */
.petfinder-filters-toggle {
	display: none;
	visibility: hidden;

	@media (max-width: $bp-large) {
		.js-petfinder-sort & {
			display: inline-block;
			visibility: visible;
		}
	}
}

/**
 * Content for "All Pets" page
 */
.petfinder-content {
	@media (min-width: $bp-large) {
		margin-left: 25%;

		.js-petfinder-sort & {
			margin-left: 0;
		}
	}
}